

.flex {
  display: flex;
  h1 {
    color: orange;
    position: relative;
    top: 0;
  }
  
  .bg-img {
    width: 200px;
    height: 200px;
    background: url('../img/2.gif');
  }
}

@keyframes riseshow {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}